*.aux
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.out
.vs
*.x64/
.Debug/
*.tlog
*.idb
*.pdb
*.vcxproj.user
*.vcxproj.filters
*.sln
*.recipe
*.ilk
*.exe
*.vcxproj
*.obj
*.jpg
*.png
*.ini
*.vscode/
__pycache__/